body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cardholder {
  height: 20rem;
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1rem;
  padding-top: 1rem;
}

.cardframe {
  width: 20%;
  max-height: 33%;
  border: 2px dashed gray;
  padding: 0.2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: auto;
  overflow: hidden;
  display:flex;
  justify-content: center;
}
